@import "tailwindcss";

@theme {
    --color-brand-light: #EFF1ED;
    --color-brand-dark: #1f2530;
    --color-brand-medium: #717744;
    --color-brand-accent: #293241;
}

html {
    scrollbar-gutter: stable;
}

@keyframes marqueeScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-inner {
    animation: marqueeScroll 25s linear infinite;
}

.marquee-reverse {
    animation-direction: reverse;
}